body{
  font-family: Tahoma;
}
label {
    display: block;
    margin: 0.5rem 0;
  }
  html{
    height: 100%;
    background-image:url(https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=2000);
    background-repeat: no-repeat;
    background-size:170% 100%;
    background-position: auto;
  }
  form{
    margin: 0 auto;
    width:60vw;
    max-width: 600px;
    min-width: 300px;
    padding-bottom: 2em;
  }
  .p,select{
    background-color:rgb(52, 79, 127);
    color: white;
    width:100%;
    padding: 0.25rem;
  }
  * {
    box-sizing: border-box;
  }
  h1,p{
    text-align: center;
  }
  #submit{
    display: block;
    background-color:rgb(52, 79, 127);
    border: 0;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    margin:0 auto;
  }
  fieldset{
    border:2px solid rgb(52, 79, 127);
    border-radius: 5px;
    margin: 1px;
  }