* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* background-color: #36414b71; */
  color: #343a40;
  font-family: Tahoma;
  font-weight: 00;
  font-size: 1.8rem;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-image:linear-gradient(rgba(40, 39, 39, 0.6),rgba(40, 39, 39, 0.6)), url(hero.jpg); */
  background-image:linear-gradient(to right,rgba(40, 39, 39, 0.823),rgba(40, 39, 39, 0.133)), url("tyler-franta-iusJ25iYu1c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fig{

  width: 50%;
  /* margin-left: 15rem; */
}

.container {
  width: 40%;
  max-width: 40%;
  min-width: 35%;
  /* margin: 10rem 0 10rem 0; */
  margin:4rem 2rem;
  background-color: rgb(247, 243, 243);
  /* border: 0.2rem solid #343a40; */
  border-radius: 0.8rem;
  z-index: 10;
  padding: 0 1.8rem;

}

.form {
  padding: 2rem 0;
  border: none;
}

.head{
  margin: 2.8rem auto;
  padding: 0 8rem;
  gap: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.head1 {
  text-align: center;
  text-transform: uppercase;
  font-weight:500 ;
  font-size: 3.4rem;
  padding-bottom: 0.5rem;
  justify-self: left;
}


.create-account{
  justify-self: right;
  stroke: #343a40;
  width: 4rem;
  height: 4rem;
}


/* NAV ITEMS */
.form-nav {
  padding: 0.2rem 12rem 3.8rem 12rem;
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: inline-block;

}

.steps:link,
.steps:visited {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s;
  
}

.steps:hover,
.steps:active {
  color: #343a40;
  border-bottom: 1px solid currentColor;
}

/* ACTIVE STEP */
.nav-items:first-child{
  background-color: #343a40;
  border-radius: 0.5rem;
  border: none;
  pointer-events: none;
  color: rgb(247, 243, 243);
}
/*            */

.r-arrow {
  stroke: #343a40;
  width: 2.4rem;
}

.label {
  display: block;
  margin: 0;
}

.input {
  margin: 0.1rem 0 2rem 0;
  width: 100%;
  /* min-height: 2rem; */
  background-color: #343a40;
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 1.6rem;
  
}

.button{
  width: 35%;
  height: 4.2rem;
  margin:2rem auto;
  display: block;
}

.button:hover{
  border: none;
   background-color: #752d2dfc;
  color: #fdf2e9;
  /* padding: 1.2rem; */
  transition: all 0.5s;
}
