*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  }
  /* html{

  } */
  #welcome-section{
    height:100vh;
    background-image: url(challenges.jpg);
    background-size: cover;
    color: #fff;
    position: relative;
  }
  #navbar{
    position:fixed;
    display: none;
  }


  @media (max-width:100px){
    body{
      background-color:red;
  }
}
.image{
  width: 100%;
  margin: 0;
  border: 2px solid pink;
  
}
.info{
  max-width: 80%;
  /* height: ; */
  /* margin: auto; */

  position: absolute;
  top: 50%;
  left: 50%;

transform:translate(-50%,-50%);

  display: flex;
  align-items: center;
  border: 1px solid red;
  gap:40px

}
.projects{
  padding-top:30px;
  background-color: rgba(66, 60, 60, 0.337);
  height:100vh;

}
/* #projects{

} */
footer{
  height: 50vh;
}

.project-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid red;
  width: 70%;
  margin: 0 auto;
  justify-items: center;
  align-content: center;
  gap:30px;
}